body {
  width: 960px;
  margin: 0 auto;
  background-image: url("../img/clean.jpg");
  }

h1{
  text-align: center;
  font-family:"Times",sans-serif;
  color: #0000FF;
  text-shadow: 5px 5px 4px #00FFFF;
}

h2{
  text-align:center;
  font-family:"verdana",serif;
  border-left: center solid green;
  padding-right: 50px
}
ul{
  margin-left: 150px;
  font: italic 20px "Lucida Console",monospace;
}

ul li a:active{
  color: purple;
}
ul li a:visited{
  color: red;
}

img{
  width: 135px;
  margin:20px 60px 0px 20px;
  border-radius: 20%;
  float:left;
}