nav{
  background-color: #28b463;
  width: 70%;
  margin: 0 auto;
}

h1{
    text-align: center;
    border-top-width: 5px;
    border: 5px double black;
    color: red;
    text-shadow: 5px 5px 4px black;
  }
  h2{
    margin-left: 25px;
    font-family: "Cambria", monospace;
  }
  h2 span{
    font-size: 30px;
    padding: 0px;
    vertical-align: middle;
    color: red;
    }
  p{
    
  text-align: center;
    text-align: justify;
    font-family: "Cambria",sans-serif;
    font-size: 19px;
    margin: 25px;
  }
  
  img{
    width: 300px;
    margin: 20px;
    border-style: dashed;
    float:right;
  }
 #disqus_thread{
   padding: 25px;
 }
 .premature {
   width: 960px;
   margin: 0 auto;
   background-image: url("../img/orig.jpg");
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
 }
 
  
  .cont{
    overflow: hidden;
  }
 
  
  .menu ul{
    font-size: 22px;
    font-variant: small-caps;
    font-family: Calibri,"Garamond",monospace;
    list-style-type: none;
  }

  .menu ul li{
    padding-top: 10px;
    padding-bottom: 10px;

  }
  
  .texto{
    float: right;
    width: 85%;
    background-color: #28b463;
  }
  
em{

    font-weight:bold;
}
